!
{% if bgp is defined %}
router bgp {{ bgp.as }}
 bgp router-id {{ bgp.router_id }}
 {% for bgp_neighbour in bgp.neighbours %}
 neighbor {{ bgp_neighbour.peer_ip }} 
  remote-as {{ bgp_neighbour.remote_as }}
  update-source loopback0
  address-family ipv4 unicast 
!
 {% endfor %}
{% endif %}
!


