!
{% if layer3_interfaces is defined %}
{% for layer3_interface in layer3_interfaces %}
interface {{ layer3_interface.interface }}
   description {{ layer3_interface.description }}
   mtu 9214
{% if 'Loopback' not in layer3_interface.interface %}
   no switchport
{% endif %}
   ip address {{ layer3_interface.ip_address }}
   no shutdown
!
{% endfor %}
{% endif %}

